{% extends "base.html.twig" %}
{% block body %}
  <div class="row">
    <div class="col col-md-8 offset-md-2 col-sm-12 col-12">
      <div class="card card-purchase">
        <div class="card-body">
          <img src="{{ asset('images/logo_transparent.png') }}" alt="Logo" class="nav-image" />
          <div>
            <div class="card-purchase-description">
              {{ token.description }}
            </div>
            <div class="card-purchase-price">
              ${{ (token.price / 100)|number_format(2) }} USD
            </div>
          </div>
          <form method="post" action="{{ action }}">
            {# Security: CSRF token to prevent cross-site request forgery (CWE-352) #}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">
            <img src="{{ asset('images/stripe-logo.png') }}" alt="Stripe Logo" class="stripe-logo" />
            <button type="submit" class="btn btn-success btn-block">
              Checkout with Stripe
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
